.bottom-nav {
  display: flex;
  padding-top: 100px;
  margin: 0 auto;
  padding-bottom: 100px;
  max-width: 1420px;
  justify-content: space-around;
  border-top: 1px solid #f3f3f2;
  .bottom-left {
    font-size: 16px;
    cursor: pointer;
    li {
      padding-top: 20px;
      &:hover {
       border-bottom: 1px solid #f3f3f2;
      }
    }
  }
  .bottom-middle {
    h3 {
      padding: 0 0 10px 100px;
    }
    .input2 {
      cursor: pointer;
    }
  }
  .bottom-right {
    font-size: 16px;
    cursor: pointer;
    li {
      padding-top: 20px;
      &:hover {
       border-bottom: 1px solid #f3f3f2;
      }
    }
  }
}