.input {
  width: 320px;
  height: 54px;
  padding: 10px 24px;
  background-color: #f3f3f2;
  border: 1px solid #d7d2cb;
  font-size: 14px;
  margin: 10px 0;
  &:focus, &:hover {
    border: 1px solid #00ab84;
  }
}

.input2 {
  width: 320px;
  height: 54px;
  padding: 10px 24px;
  border: 1px solid #d7d2cb;
  font-size: 14px;
  :nth-child(1) {
    cursor: pointer;
  }
  &:focus, &:hover {
    border: 1px solid #00ab84;
  }
}




